<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>EDIT USER</title>
</head>
    <body>
        <br><br>
        <h3 align="center">LET'S TRY EDIT USER : <span th:text="${user.username}"></span> =)</h3>
        <br><br>
        <table align="center" border="1">

            <tr>
                <th width="25">ID</th>
                <th width="150">USERNAME</th>
                <th width="150">PASSWORD</th>
                <th width="150">E-MAIL</th>
                <th width="150">NAME</th>
                <th width="150">LASTNAME</th>
                <th width="150">ROLES</th>
                <th width="150">OPERATION</th>
            </tr>

            <tr th:object="${user}">
                <td th:text="${user.id}">ID</td>
                <td align="right" th:text="${user.userName}">USERNAME</td>
                <td align="center"> * * * </td>
                <td align="left" th:text="${user.email}">E-MAIL</td>
                <td align="left" th:text="${user.name}">NAME</td>
                <td align="left" th:text="${user.lastname}">LASTNAME</td>
                <td align="left"> <span th:each="role:${user.roleSet}"> <span th:text="${role.roleName}"></span><br></span> </td>
                <td></td>
            <tr>
                <form th:method="POST" th:action="@{/admin/editUser/{id}}" th:object="${user}">
                    <td align="right">EDIT :</td>
                    <input type="hidden" th:field="*{id}" id="id"/>
                    <td><input type="text" th:field="*{userName}"/></td>
                    <td><input type="text" th:field="*{password}"/></td>
                    <td><input type="text" th:field="*{email}"/></td>
                    <td><input type="text" th:field="*{name}"/></td>
                    <td><input type="text" th:field="*{lastname}"/></td>
                    <td><span th:each="role:${roles}"><input type="checkbox" name=roleId th:value="${role.id}"/><label th:utext="${role.roleName}"></label><br></span></td>
                    <td colspan="2" align="center"><input type="submit" value="CREATE"/></td>
                </form>
            </tr>

        </table>
        <br><br>
        <h3 align="center"><a href="/logout">U CAN LOGOUT HERE!!!</a></h3>
    </body>
</html>