<div th:fragment="deleteModal"
     class="modal fade"
     id="deleteModal"
     tabindex="-1"
     aria-hidden="true"
     th:attrappend="id=${user.id}">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DELETE USER</h5>
            </div>
            <div class="modal-body">
                DO YOU WANT TO DELETE USER : <span th:text="${user.userName}"></span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <form th:method="DELETE" th:action="@{/admin/delete/{id} (id=${user.id})}">
                    <button type="submit" class="btn btn-primary">DELETE</button>
                </form>

            </div>
        </div>
    </div>
</div>